ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6B8E23;
    font-family: Courier New, monospace;
    font-size: 30px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #556B2F;
}

.active {
    background-color: white;
}

body {
    background-image: url("../img/tunic_image_de_font.jpg") display: flex;
}
body {
    background-image: url("../img/font2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    color: #556B2F;
    font-family: Courier New, monospace;
    font-size: 80px;
    font-size: 5.5em;
    font-size: 5.5rem;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1:hover{
    color:yellow ;
}

* {
    box-sizing: border-box
}
.container {
    position: relative;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px 0 30px 0;
}
input,
.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
}

input:hover,
.btn:hover {
    opacity: 1;
}
.fb {
    background-color: #3B5998;
    color: white;
}

.twitter {
    background-color: #55ACEE;
    color: white;
}

.google {
    background-color: #dd4b39;
    color: white;
}
input[type=submit] {
    background-color: #04AA6D;
    color: #062b16;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
.col {
    float: left;
    width: 50%;
    margin: auto;
    padding: 0 50px;
    margin-top: 6px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.vl {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid #ddd;
    height: 175px;
}
.inner {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #556B2F;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 8px 10px;
}

.hide-md-lg {
    display: none;
}
.bottom-container {
    text-align: center;
    background-color: #666;
    border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 650px) {
    .col {
        width: 100%;
        margin-top: 0;
    }
    .vl {
        display: none;
    }
    .hide-md-lg {
        display: block;
        text-align: center;
    }
}

span.copyright {
    position: absolute;
    width: 100%;
    color: #062b16;
    line-height: 40px;
    font-size: 0.7em;
    text-align: center;
    bottom: 0;
    v
}

.container {
    position: relative;
    border-radius: 5px;
    background-color: #556B2F;
    padding: 20px 0 30px 0;
}
input,
.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
}

input:hover,
.btn:hover {
    opacity: 1;
}

.fb {
    background-color: #3B5998;
    color: white;
}

.twitter {
    background-color: #55ACEE;
    color: white;
}

.google {
    background-color: #dd4b39;
    color: white;
}

input[type=submit] {
    background-color: #556B2F;
    color: #062b16;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #556B2F;
}
.col {
    float: left;
    width: 50%;
    margin: auto;
    padding: 0 50px;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* vertical line */
.vl {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid#6B8E23;
    height: 175px;
}

/* text inside the vertical line */
.inner {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #6B8E23;
    border: 1px solid #6B8E23;
    border-radius: 50%;
    padding: 8px 10px;
}

.hide-md-lg {
    display: none;
}
.bottom-container {
    text-align: center;
    background-color: #6B8E23;
    border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 650px) {
    .col {
        width: 100%;
        margin-top: 0;
    }

    /* hide the vertical line */
    .vl {
        display: none;
    }

    /* show the hidden text on small screens */
    .hide-md-lg {
        display: block;
        text-align: center;
    }
}

span.copyright {
    position: absolute;
    width: 100%;
    color: #062b16;
    line-height: 40px;
    font-size: 0.7em;
    text-align: center;
    bottom: 0;
    v
}

p {
    font-size: 15px;
    text-align: center;
    color: #062b16;
    font-family: Courier New, monospace;
    font-size: 2.5em;
    font: size:2.5em;
    rem;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h2 {
    color: #062b16;
}

.btn {
    color: #062b16;

}

.w3-card-4 {
    text-align: center;
    margin: auto;
    display: flex: padding:50px;
}
.w3-container {
    text-align: center;
    color: #062b16;

}
.level{
    text-align: center;
    color: #556B2F;
    font-family: Courier New, monospace;
}
h5{
    text-align: center;
    color: #556B2F;
    font-family: Courier New, monospace;
    font-size: 80px;
    font-size: 5.5em;
    font-size: 5.5rem;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h5:hover{
    color:greenyellow;
}
h2{
    text-align: center;
    color:	black;
    font-family: Courier New, monospace;
    font-size: 80px;
    font-size: 3.5em;
    font-size: 3.5rem;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  h2:hover{
    color:plum;
  }